# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
*.venv
env/
venv/
ENV/
env.bak/
venv.bak/
*.log
*.sqlite3
*.pyc

# Environment variables
.env

# IDE files
.vscode/
.idea/

# MacOS
.DS_Store

# PyCharm
*.iml
.env
